{% extends 'base.html.twig' %}

{% block title %}Article index
{% endblock %}


{% block body %}
	<div class="container">
		<h1 class="my-3">Voici les annonces de nos hôtes</h1>

		<div class="row">
			{% for article in articles %}
				{% set url = path('article_show', {'slug' : article.slug}) %}


				<div class="col-md-4">
					<div class="card bg-light mb-3">
						
						<a href="{{ url }}">
							<img src="{{article.coverImage}}" alt="Image de l'appartement" style="height:200px; width:100%; display:block;object-fit: cover;">
						</a>

						<div class="card-body">
							<h4 class="card-title">
								<a href="{{url}}">
									{{article.title}}
								</a>
							</h4>
							<p class="card-text">
								{{article.description}}
							</p>
							<a href="{{url}}" class="btn btn-secondary">En savoir plus</a>
						</div>
					</div>
				</div>
				{% else %}
				<div class="col-md-12">
					Pas de resultats
				</div>
			{% endfor %}
		</div>

	</div>
{% endblock %}

